/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.board, .mouse{
	background-color: lightblue; 
	width: 500px;
	height: 500px;
	position: absolute;
}

svg {
	position: absolute;
}

svg .player {
	border-color: pink;
}